<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  
  <body>
<h2>Edge Calculations</h2>
<form action="/submit" method="GET" >
    latitude (E.g, 34.020926, 34.023346, 34.022705, 34.027933)<br>
  <input type="text" name="lat" value="" id="lat">
  <br>
  longitude (E.g, -118.404197, -118.418059, -118.404540,  -118.398873)<br>
  <input type="text" name="lng" value="" id="lng">
  <br><br>
  <input type="submit" value="Submit">
  <h5>Calculated Edges</h5>
  <p>given latitude <%= lat%> and longitude <%= lng %></p>
  <p>Data Sets: <%= data %></p></form> 
      <div id="map"></div>
<script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      console.log(document.getElementById("lat").value,document.getElementById("lng").value)
      var uluru = {lat: 34.0522 , lng:-118.2437 };
      // The map, centered at Uluru
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 11, center: uluru});
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: uluru, map: map});
    }
        </script>
      
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNzhGZ17hvTV8dFInbDrEbaMzIOWVh6o0&callback=initMap">
        </script>







</body>
</html>


